$secondary-background-color: rgba(26, 29, 41, 0.51);
$secondary-color: #4ad295;
$font-color: #e5e5e5;
$primary-color: #1a1d29;
$placeholder-color: #2a2f3e;
$primary-background-color: #212433;

$regular: 400;
$medium: 500;
$bold: 700;

$animation: fadeInAnimation 1s;

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
